*{
    background-color: black;
    color:yellow;
}

form, h1{
    margin: auto;
    width: 50%;
    text-align: center;
    font-size: 40px;
    border: 10px groove yellow;
    position: relative;
    top: 250px;
}

input[type=button]{
    width: 45%;
    height: 100px;
    margin: 2%;
    text-align: center;
    border: 10px groove yellow;
    font-size: 40px;
}

input[type=text]{
    width: 50%;
    height: 30px;
    text-align: center;
    font-size: 40px;
}